*{
    font-family: sans-serif;
    /* border: 1px solid rgb(47, 78, 255); */
    
}
body{
    text-align: center;
}
* {
    font-family: sans-serif;
  }
     
#intro{
    /* width:80% */
    display: flex;
    /* gap:30%; */
}
#intro :first-child{
    margin-top: 8%;
}
#button_intro >button{
    color: white;
    background-color: #4040f8;
    border: none;
    padding: 3%;
}

#intro >div>img{
    width: 100%;
    height: 80%;
    /* margin-right: 0px; */
}

.mid_head{
    text-align: center;
    width: 90%;
    margin: auto;
}

#mid_section1 {
    display: flex;
    /* grid-template-columns: repeat(4,1fr);*/
    gap:15% ;
    justify-content: space-between;
    margin-bottom: 50px;
}
.image_logo{
    width: 50%;
    height:50%
}

#mid_text{
    width: 70%;
    margin: auto;
}

#mid_section2{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    gap:10%;
   
}

.mid_image{
    width: 100%;
  height: 200px;
  /* overflow:hidden; */
  /* object-fit: none; Do not scale the image */
  object-position: center; 
}

#mid_lower_bg{
    background-image: url(https://img1.goodfon.com/wallpaper/nbig/7/cf/autumn-leaves-berries-still-4661.jpg);
    /* height: 500px; You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
#gift_choice {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* gap: 5%; */
    /* background-color: whitesmoke; */
    width: 70%;
    margin: 8% auto;
    
}

#gift_choice>div >img{
    width: 80%;
    
}

#gift_choice>div{
    margin: 10%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
}
#mid_lower_bg >div{
    background-color: whitesmoke;
    width: 70%;
    margin: 5% auto;
    
}

#mid_lower_bg >div > button{
    padding: 15px;
    margin-bottom: 3%;
    color: white;
    background-color: royalblue;
    border: none;
}






