* {
    font-family: sans-serif;
  }
  #nav {
    width: 18%;
    height: 25px;
    display: flex;
    margin: auto;
    box-sizing: border-box;
  }
  
  #nav > div:nth-child(1) {
      border-bottom: 2px solid transparent; 
      border-bottom-color: #03514e;
      margin-right: 10px;
    padding: 0px 10px 10px 10px;
    color: #685c5c;
    width:40%;
  
    
  }
  #nav > div:nth-child(2){
      width: 30px;
  }
  
  
  #nav1 {
    display: flex;
    width: 100%;
    margin-top: 0%;
    height: 70px;
    margin: auto;
    background-color: #fffdf7;
  }
  #nav1 > div {
    margin: auto;
    height: 100%;
  
    display: flex;
  }
  
  #nav1 > div:nth-child(1) {
    display: flex;
    width: 10%;
    width: 106px;
    height: 24px;
    margin-left: 0px;
    padding-left: 15px;
    align-items: center;

  }
  #nav1 > div:nth-child(2) {
    width: 38%;
    justify-content: space-between;
    font-weight: 700;
    color:black;
    margin-top: 12px;
   
    
  }
  #nav1 > div:nth-child(3) {
    width: 12%;
    margin-right: -0px;
    font-size: 14px;
  }
  #signup {
    background-color: #3167ff;
    color: white;
  
    font-size: 14px;
    font-weight: 500;
    margin-left: -50px;
    height: 8px;
    margin-top: 12px;
  }
  #login {
    padding-right: 60px;
    margin-top: 12px;
  }
  
  /* adfddgfhgjmkj */
  
  .hover > p:hover {
      color: #2a6dff;
  }
  .hover:hover {
      color: #2a6dff;
  }
  a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 600;
    padding: 15px;
  }
  a:hover{
    color: blue;
  }