*{
    font-family: sans-serif;
}
#nav{
    width: 320px;
    height: 25px;
    display: flex;
    margin: auto;  

}

#nav>div:nth-child(1){
    border-bottom:2px solid #155d5a ;
    margin-right: 10px;
    padding: 0px 10px 10px 10px ;
    color: #685c5c;
    width: 30%;
}

#nav>div:nth-child(2){
    color:gray;
    font-size: 11px;
    
} 
#nav1{
display: flex;
width: 100%;
margin-top: 0%;
height: auto;
margin: auto;
background-color: #fffdf7;
}
#nav1>div{

    margin: auto;
    height: 100%;

    display: flex;
}


#nav1>div:nth-child(1){
    width: 10%;
    width: 106px;
    height: 24px;
    margin-left: 0px;
    padding-left: 15px;
}
#nav1>div:nth-child(2){
    width: 40%;
    justify-content: space-between;
}
#nav1>div:nth-child(3){
    width: 12%;
    margin-right: -0px;
    font-size: 14px;

}
#signup{
    background-color: #4040f8;
    color: white;
    padding: 6px 5px;
}
#login{
    padding: 6px 5px;
}
.grey{
    color: #685c5c;
    font-size: 12px;

}

/* adfddgfhgjmkj */

.hover>p:hover {
    color: blue;
    }
.hover:hover {
    color: blue;
}
#signup:hover{
    background-color:blue;
    
}