*{
    font-family: sans-serif;
}

#email{
  margin-left:530px;
    font-size:15px;
    margin-bottom: 15px;
}  
input{
  
    /* text-align: center;
    justify-content: center; */
   width:450px;
   height: 30px;
   font-size:15px;
   margin-bottom: 0px;
   margin-top:0px;
}
#pass{
    margin-left:530px;
    font-size:15px;
    margin-bottom: 15px;
    
   
}
/* #login{
    margin-left: 35%;
    text-align: center;
    justify-content: center;
   width:460px;
   height: 40px;
   
   background-color:blue;
   color:white;
   margin-top: 15px;
   margin-bottom: 30px;
   
} */
.op{
    margin-left:530px;
   
}
#parent{
    height:60px;
    width:100%;
    margin: auto;
    display:flex;
    justify-content:space-between;
    
    /* margin-left:50px; */
}



#parent > div:first-child{
    font-size: 1em;
    margin-top:15px;
    margin-right: 10px;
   
}
#photo{
    height:30px;
   margin-right:10px;
    margin-top:20px;
    margin-left: 20%;
}
#parent > div:last-child{
    padding-left:0px;
    margin-left:10px;
    font-size: 1em;
     
}
#navigation{
    width:35%;
    height:30px;

   }
   #navigation1{
    width:25%;
    height:55px;
   
   }
#navigation2{
    width:24%;
    height:55px;
    
    
   }
.slow{
    height:45px;
    width:90px;
    color: #fff;
    background-color: #2a6dff;
    border: none;
    cursor: pointer;
    margin-left:3%;
   margin-top: 5px;  
   font-weight: 800;

 
  
   
}
    
.slow:hover{
    box-shadow:0 0 20px rgba(134, 129, 129, 0.5);
    /* -webkit-transform: scale(1.1); */
    transform:scale(1);
}
a{
    color:black;
    text-decoration:none;
  
}
a:hover{
    text-decoration:underline;
    color:#2a6dff;
}
.self{
    text-decoration:underline;
    color:#2a6dff;
}
#special-font {
    text-align: center;
    font-family: "Redressed";
    font-weight: 100;
    padding-top: 10px;
  }
  #cont {
    width: 100%;
    background-color: #fffdf7;
    height: 500px;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.733);
  }
  #login {
    width: 450px;
    margin: auto;
    position: absolute;
    top: 14%;
    left: 35%;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), -3px -3px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    text-align: center;
  }
  #login input {
    width: 370px;
    height: 25px;
    cursor: pointer;
    margin-top: 5px;
    padding-left: 8px;
    border: 0.5 px solid rgba(0, 0, 0, 0.3);
  }
  #login a {
    text-decoration: none;
  }
 